.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: center;
  padding: 10%;
  background-color: white;
  box-shadow: -0.3em -0.3em 0.5em black;
  margin-top: 5%;
}
/* .product > img{
  width: 18em;
  height: 12em;
  object-fit: contain;
} */
.product__info {
  display: flex;
  flex-direction: column;
}
.product__info > .info__name {
  margin-top: 2%;
  font-weight: bolder;
}
.product__info > .info__description {
  margin-top: 2%;
  overflow: hidden;
  min-height: 7em;
}
.product__info > .info__price {
  margin-top: 2%;
  font-weight: bolder;
}
.product__info > .info__button {
  margin-top: 2%;
  text-decoration: none;
  color: whitesmoke;
  background-color: royalblue;
  text-align: center;
}

@media (max-width: 1200px) {
  .product {
    width: 280px;
    /* height: 450px; */
  }
  .product > img {
    width: 18em;
    height: 12em;
    object-fit: contain;
  }
  .product__info > .info__name {
    font-size: small;
  }
  .product__info > .info__description {
    font-size: small;
  }
}
@media (max-width: 920px) {
  .product {
    width: 360px;
    /* height: 450px; */
  }
}
@media (max-width: 830px) {
  .product {
    width: 320px;
    /* height: 450px; */
  }
}
@media (max-width: 730px) {
  .product {
    width: 280px;
    /* height: 450px; */
  }
}
@media (max-width: 635px) {
  .product {
    width: 250px;
    height: 350px;
  }
  .product > img {
    width: 17em;
    height: 11em;
    object-fit: contain;
  }
  .product__info > .info__name {
    font-size: 0.8em;
  }
  .product__info > .info__description {
    font-size: 0.6em;
  }
}
@media (max-width: 565px) {
  .product {
    width: 215px;
    height: 350px;
  }
  .product > img {
    width: 16em;
    height: 10em;
    object-fit: contain;
  }
  .product__info > .info__name {
    font-size: 0.8em;
  }
  .product__info > .info__description {
    font-size: 0.6em;
  }
}
@media (max-width: 460px) {
  .product {
    width: 185px;
    height: 300px;
  }
  .product > img {
    width: 15em;
    height: 8em;
    object-fit: contain;
  }
  .product__info > .info__name {
    font-size: 0.8em;
  }
  .product__info > .info__description {
    font-size: 0.6em;
  }
  .product__info > .info__price {
    font-size: 0.8em;
  }
}
@media (max-width: 395px) {
  .product {
    width: 280px;
    height: 350px;
  }
  .product > img {
    width: 17em;
    height: 10em;
  }
}
@media (max-width: 345px) {
  .product {
    width: 280px;
    height: 320px;
  }
  .product > img {
    width: 16em;
    height: 10em;
  }
}
@media (max-width: 300px) {
  .product {
    width: 240px;
    height: 320px;
  }
  .product > img {
    width: 15em;
    height: 9em;
  }
}
