.homescreen {
  display: flex;
  width: 100vw;
  padding: 5%;
}

.homescreen > img {
  width: 40vw;
  height: 55vh;
  object-fit: contain;
  border-radius: 50% 4% 1% 1%;
  box-shadow: -0.3em -0.3em 0.5em black;
}
.home__text {
  display: flex;
  flex-direction: column;
}
.home__text > p {
  margin-bottom: 6%;
  max-width: 90%;
}
.home__text > .logos {
  display: flex;
  align-items: center;
}
.home__text > .logos > img {
  height: 4em;
  width: 9.5em;
  margin: 3% 2% 0 0;
  box-shadow: -0.2em -0.2em 0.4em black;
  border-radius: 4px;
}
.home__text > a > button {
  padding: 2%;
  width: 30%;
  margin-top: 6%;
  background-color: rgb(71, 28, 28);
  box-shadow: -0.1em -0.1em 0.5em black;
  cursor: pointer;
  border-radius: 2em;
  color: bisque;
  /* rgb(255, 240, 194, 0.7) */
}
