.homescreen {
  display: flex;
  width: 100vw;
  padding: 5%;
}

.homescreen > img {
  width: 40vw;
  height: 55vh;
  object-fit: contain;
  border-radius: 50% 4% 1% 1%;
  box-shadow: -0.3em -0.3em 0.5em black;
}
.home__text {
  display: flex;
  flex-direction: column;
}
.home__text > p {
  margin-bottom: 6%;
  max-width: 90%;
}
.home__text > .logos {
  display: flex;
  align-items: center;
}
.home__text > .logos > img {
  height: 6em;
  width: 10em;
  margin: 3% 2% 0 0;
  box-shadow: -0.3em -0.3em 0.3em black
}
